/*


Copyright 2011-2020 Teknocrat


*/


#cfwc_contactform          { margin: 0px; border: 0px;}

#cfwc_contactform table    { margin: 0px; border: 0px;}

#cfwc_contactform td       { border:0px; vertical-align:top; }

#cfwc_contactform tr       { border-collapse:separate; }

#cfwc_contactform input    { width: 310px; }

#cfwc_contactform textarea { width: 310px; height: 100px; }

#cfwc_contactform p.credit { position:relative; float:right; font-size:8px; font-family:times new roman; font-style:italic; color:#23238e; }

#cimg img                  { background: none repeat scroll 0 0 transparent; margin: 0px; border: 0px; padding 0px;}

#cimg a                    { color: transparent; font-size: 1px; text-decoration: none; margin: 0px; border: 0px; padding 0px;}